<h2>Course Info</h2>

<hr/>

<form #courseForm = "ngForm">
    <div class="form-group row">
        <label class="col-sm-2 col-from-label">Name:</label>
            <div class="col-sm-1">
                <input [(ngModel)]="course.name" name="name" required="" #courseName="ngModel" [ngClass]="{'is-invalid': courseName.invalid}" class="form-control">

                <div class="invalid-feedback">
                    <span>Course name is required</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-from-label">Price:</label>
                    <div class="col-sm-1">
                        <input [(ngModel)]="course.price" name="price" required #coursePrice="ngModel" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
                    </div>
        
                    <div class="invalid-feedback">
                        <span>Course name is required</span>
                    </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-from-label">Rating:</label>
                    <div class="col-sm-1">
                        <input [(ngModel)]="course.rating" name="Rating" required #courseRating="ngModel" [ngClass]="{'is-invalid': coursePrice.invalid}" class="form-control">
                    </div>
        
                    <div class="invalid-feedback">
                        <span>Rating name is required</span>
                    </div>
            </div>
    </div>

    <button [disabled]="courseForm.invalid" (click)="save"  class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/course']" class="btn btn-secondary">Back</button>
</form>